<div class="col-md-12 m-2">
    <h1>I'm the child Component</h1>
    <h2>From child: {{tilteFromParentToChild}}</h2>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" [(ngModel)]="childtoParentDataUpdate" class="m-2 ml-10 form-control"
                placeholder="Enter data" aria-label="Username" aria-describedby="basic-addon1" />
        </div>
    </div>
</div>
<div class="col-md-12 m-2">
    <button style="margin-bottom: 12px;" (click)="updateHandler()" class="btn btn-success">Click me send to
        Parent</button>

</div>