<div class="row">
    <form>
        <div style="margin-bottom: 2rem " class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="User name"
                    aria-label="User name">
                <span class="text-danger">This filed is
                    required</span>
            </div>

            <div class="col">
                <input  type="password" class="form-control" placeholder="Password"
                    aria-label="Passowrd">
                <span class="text-danger">This filed is
                    required</span>

            </div>
            <div class="col">
                <button class="btn btn-success" type="submit">Login with Form
                    Submit</button>
            </div>
        </div>
    </form>
</div>